html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: var(--background);
  color: var(--foreground);

  font-family: 'Chivo Mono', monospace;
  font-weight: 300;
}

#react-root {
  min-height: 100vh;
}

a {
  color: var(--foreground);
  text-decoration: underline;
}
a:hover,
a:focus {
  color: var(--primary);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 1rem;
  margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--contrast-foreground);
}

blockquote {
  border-left: var(--border);
  border-width: 0.5rem;
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
}

code {
  background-color: var(--background-light);
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
}
