:root {
  --background: #1d1f21;
  --background-contrast: #111111;
  --background-contrast-soft: #151515;
  --background-light: #333;
  --foreground: #c9cacc;
  --contrast-foreground: #ffffff;
  --muted: #424244;
  --dark-text: #939393;
  --primary: #999cf1;
  --danger: #c74d4d;
  --border: 1px solid var(--muted);
}
